.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $bgd-menu;
}

.container--topline {
  @include flexbox(center, space-between);
  position: relative;
}

.menu-button {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  border-image-width: 0px;
  & .icon-menu-close {
    display: none;
  }
  &.is-open .icon-menu-close {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }

  &:focus .icon-menu {
    fill: $color-accent;
  }
  &:focus .icon-menu-close {
    fill: $color-accent;
  }

  &:focus {
    outline-color: transparent;
  }
}
.menu-icon {
  display: block;
}

@include for-size(tablet) {
  .menu-button {
    display: none;
  }

  .header {
    border-bottom: 1px solid $color-line;
  }
}
