.address {
  @extend %nomargin;
  @include typography(400, 14px, 1.71);

  &__mail {
    @extend %nomargin;
    margin-bottom: 9px;
    color: $text-on-dark;
  }

  &__email,
  &__tel {
    @extend %link;
    display: block;
    color: $color-link-address;
  }
  &__email {
    margin-bottom: 9px;
  }
}
