/* Общие параметры для двух списков верхней линии */

.contacts {
  @extend %list;

  &__item {
    display: block;
  }

  &__link {
    @extend %nomargin;
    @extend %link;

    @include typography(500, 18px, 1.16, 0.02em);
    color: $text-main;
    transition: background-color $time $time-function,
      color $time $time-function;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $color-accent;
  }

  &__link:hover,
  &__link:focus {
    color: $color-accent;
  }

  &__icon {
    margin-right: 10px;
    fill: $text-main;
    transition: fill $time $time-function;
  }

  &__icon--envelope {
    width: 16px;
    height: 11px;
  }

  &__icon--smartphone {
    width: 10px;
    height: 15px;
  }
  @include for-size(mobile-tablet) {
    &__item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @include for-size(desktop-only) {
    padding-top: 21px;
    padding-bottom: 21px;
    @include flexbox(flex-start, center);
    flex-direction: column;

    &__link {
      @include flexbox(center, center);
      @include typography(500, 12px, 1.16, 0.02em);
    }
    &__item:first-child {
      margin-bottom: 10px;
    }
    &__item {
      display: block;
    }
    &__icon {
      margin-right: 8px;
    }
    &__icon--envelope {
      width: 14px;
      height: 10px;
    }
    &__icon--smartphone {
      width: 10px;
      height: 14px;
    }
  }

  @include for-size(desktop) {
    @include flexbox(center, center);

    &__item:first-child {
      margin-right: 30px;
    }
    &__link {
      @include flexbox(center, center);
      @include typography(500, 12px, 1.16, 0.02em);
    }
  }
}
