/* Общие параметры для двух списков верхней линии */

.contacts {
  @media screen and(max-width: 767px) {
    display: none;
  }
  @extend %list;
  //@include flexbox();
  @include typography(500, 14px, 1.14, 0.02em);

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  /* Параметры ссылок для обратной связи */
  &__link {
    @extend %link;
    //@include flexbox(center);
    padding: 32px 0px;

    color: $text-main;
    transition: background-color $time $time-function,
      color $time $time-function;
  }

  &__icon {
    margin-right: 10px;
    fill: $text-main;
    transition: fill $time $time-function;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $color-accent;
  }

  /*  hover и focus для ссылок навигации по сайту*/

  &__link:hover,
  &__link:focus {
    color: $color-accent;
  }
}
