.filters {
  @extend %list;
  cursor: pointer;

  @include flexbox(center, flex-start, wrap);
  margin-bottom: 40px;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__item {
    margin-bottom: 8px;
  }

  &__button {
    padding: 6px 22px;
    @include typography(500, 16px, 1.62);
    color: $text-header;
    text-align: center;

    background-color: $bgd-second;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color $time $time-function,
      color $time $time-function;
  }

  &__button:hover,
  &__button:focus {
    color: $text-on-dark;
    background-color: $color-accent;
    box-shadow: $shadow-button-filters;
  }

  @include for-size(tablet) {
    @include flexbox(normal, center, nowrap, flex);
    &__item:not(:last-child) {
      margin-right: 8px;
    }
  }

  @include for-size(tablet-desktop) {
    margin-bottom: 30px;
  }

  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}
