.form-modal {
  display: block;
  text-align: center;

  &__submit {
    @extend %button;

    box-shadow: $shadow-button-modal;
    transition: backrgound-color $time $time-function;
  }

  &__submit:hover {
    background-color: $bgd-hover;
  }

  &__submit:disabled {
    background-color: $color-icon;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
  }

  @media screen and(min-width:1200px) {
    padding-left: 55px;
    padding-right: 55px;
  }
}
