.members {
  @extend %list;
  text-align: center;

  &__title {
    @extend %nomargin;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: $text-on-dark;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $shadow-card-members;
    @include typography-title;
  }

  &__name {
    @extend %nomargin;
    margin-bottom: 10px;

    @include typography(500, 16px, 1.19);
    color: $text-header;
  }

  &__position {
    @extend %nomargin;
    margin-bottom: 16px;

    @include typography(400, 16px, 1.19);
    color: $text-main;
  }

  @include for-size(mobile-tablet) {
    &__card:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include for-size(tablet) {
    @include flexbox($wrap: wrap);
  }

  @include for-size(desktop-only) {
    &__card {
      width: calc((100% - 30px * 1) / 2);
    }
    &__card:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &__card:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @include for-size(desktop) {
    &__card {
      width: calc((100% - 30px * 3) / 4);
    }
    &__card:not(:nth-child(4n)) {
      margin-right: 30px;
    }
  }
}
