.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgd-backdrop;
  opacity: 1;
  overflow-y: scroll;
  z-index: 1;
  transition: opacity $time $time-function;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 93px;

  @include for-size(tablet) {
    padding-right: 159px;
    padding-left: 159px;
    padding-top: 208px;
  }

  @include for-size(desktop) {
    padding: 0;
  }
}

.modal {
  position: relative;
  padding: 40px;
  background-color: $text-on-dark;
  box-shadow: $shadow-modal;
  border-radius: 4px;
  max-width: 450px;
  transition: transform $time $time-function $time;
  &__title {
    @extend %nomargin;
    margin-bottom: 12px;
    @include typography(700, 20px, 1.15);
    text-align: center;
  }

  &__button-close {
    @include flexbox(center, center);
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $text-on-dark;
    border: 1px solid $color-border-modal;
    transition: fill $time $time-function, transform $time $time-function;
  }

  &__button-close:hover {
    fill: $color-accent;
    outline-color: $color-border;
    transform: scale(1.1);
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  @include for-size(mobile-only) {
    transform: scale(1);
  }

  @include for-size(mobile) {
    position: absolute;
    width: 450px;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }

  @include for-size(desktop) {
    top: 221px;
    width: 528px;
    height: 581px;
  }
}
