.clients {
  @extend %section;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    @extend %nomargin;
    margin-bottom: 30px;
    @include typography-title;

    @include for-size(desktop) {
      margin-bottom: 50px;
    }
  }
}
