.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list {
  @extend %list;

  &__label {
    @extend %nomargin;
    margin-bottom: 10px;

    @include typography-label;
    color: $text-header;
    text-transform: uppercase;
  }

  &__image {
    @include flexbox(center, center);

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;

    background-color: $bgd-second;
    border-radius: 4px;
  }

  &__icon {
    --color2: #2196f3;
    width: 70px;
    height: 70px;
  }

  &__text {
    @extend %nomargin;
    @include typography(400, 14px, 1.71);
    color: $text-main;
  }

  @include for-size(mobile) {
    &__card {
      display: block;
    }
    &__card:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include for-size(tablet) {
    @include flexbox($wrap: wrap);
    &__card {
      width: calc((100% - 30px * 1) / 2);
    }
    &__card:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &__card:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @include for-size(desktop) {
    @include flexbox($wrap: wrap);
    &__card {
      width: calc((100% - 30px * 3) / 4);
    }
    &__card:not(:nth-child(4n)) {
      margin-right: 30px;
    }
    &__card:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
    }
  }
}
