.primary {
  text-align: center;
  border-top: 1px solid $color-line;

  &__box {
    display: inline-block;
    width: 696px;
  }

  &__title {
    @extend %nomargin;
    @include typography(900, 44px, 1.36, 0.06em);
    margin-bottom: 30px;
    color: $text-on-dark;
    text-transform: uppercase;
  }

  &__button {
    @extend %button;
    box-shadow: $shadow-button-primary;
    cursor: pointer;
    transition: background-color $time $time-function;
  }

  &__button:hover,
  &__button:focus {
    background-color: $bgd-hover;
  }
}
.background {
  max-width: 1600px;
  margin: 0px auto;
  padding: 200px 0px;
  height: 600px;
  background-image: linear-gradient(to right, $bgd-primary, $bgd-primary),
    url('../images/primary.jpg');
}
