.team {
  @extend %section;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgd-second;

  &__title {
    @extend %nomargin;
    @include typography-title();
    margin-bottom: 30px;

    @include for-size(desktop) {
      margin-bottom: 50px;
    }
  }
}
