.team {
  @extend %section;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgd-second;

  &__title {
    @extend %nomargin;
    @include typography-title();

    margin-bottom: 30px;

    @media screen and(min-width:1200px) {
      margin-bottom: 50px;
    }
  }
}
